Source: ueransim
Section: unknown
Priority: optional
Maintainer: Louis Royer <louis.royer@irit.fr>
Build-Depends: cmake,
               debhelper-compat (= 13),
               libyaml-cpp-dev,
               libsctp-dev,
               libspdlog-dev
Standards-Version: 4.5.1
Homepage: https://github.com/aligungr/UERANSIM 
Vcs-Git: https://github.com/louisroyer-deb/ueransim
Rules-Requires-Root: no

Package: ueransim
Architecture: any
Suggests: wireshark-ueransim-rls
Depends: iproute2,
         lksctp-tools,
         ${shlibs:Depends}, ${misc:Depends}
Description: State-of-the-art 5G UE and RAN (gNodeB) implementation
 This project can be used for testing 5G Core Network and studying 5G System.
