#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=cmake


override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
	-DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	pwd
	ls -l obj-x86_64-linux-gnu
	install -D obj-x86_64-linux-gnu/nr-cli debian/ueransim/usr/bin/nr-cli
	install -D obj-x86_64-linux-gnu/nr-ue debian/ueransim/usr/bin/nr-ue
	install -D obj-x86_64-linux-gnu/nr-gnb debian/ueransim/usr/bin/nr-gnb
	
